{% extends "base.html" %}
{% block title %}Image Scanning Tool{% endblock %}
{% block content %}
<h1 align="center">Select an image to upload...</h1>
<div align="center" class="form-group">
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input name="file" type="file" placeholder="Choose file"/>
        <button type="submit" class = "btn btn-primary">Upload</button>
    </form>
</div>
<div>
    <span align="center"><h4>Or</h4></span>
</div>
<div align="center" class="form-group" enctype="multipart/form-data">
    <form method="post" action="/upload">
        <input maxlength="5000"
        name = "link"
        type= "text"
        placeholder="Enter the url here (Not the site address)..."/>
        <button type="submit" class = "btn btn-primary">Link</button>
    </form>
</div>
{% if img %}
<div align="center" class="form-group">
<img height="250" width="250" src={{ url_for('static', filename="images/"+ img) }}/>
</div>
<div align="center" class="form-group">
    <table>
        <tr><h4>Cancer Probability Assessment</h4></tr>
        <tr><th>S.No</th><th>Result</th><th>Probability</th></tr>
        <tr><td>#1</td><td>{{ predictions["pred1"]["fact1"] }}</td><td>{{ predictions["pred1"]["prob1"] }}%</td></tr>
        <tr><td>#2</td><td>{{ predictions["pred2"]["fact2"] }}</td><td>{{ predictions["pred2"]["prob2"] }}%</td></tr>
        <tr><td>#3</td><td>{{ predictions["pred3"]["fact3"] }}</td><td>{{ predictions["pred3"]["prob3"] }}%</td></tr>
    </table>
</div>
{% endif %}
{% endblock %}